body{
    background-color: rgb(211, 207, 233);
}


ul{
  
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    width: 100%;
    top: 0;
    

    
    
    
    
}
li{
    float: left;
    padding: 10px;
    list-style-type: none;
    text-align: center;
    
}

li a{
    display: block;
    color: 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover{
    background-color: rgb(4, 111, 218);;

}
#fotter>a{
    color: black
}
.card-img-topa{
    width: 100px;
    height: 100px;
    border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.card-img-tope{
    width: 100px;
    height: 100px;
    border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.card-img-top{
    width: 180px;
    height: ;
    border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container_how{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: rgb(8, 8, 8);
  height: 150px;
  font-family: 'Times New Roman', Times, serif;
}
.container_1{
  background-color: rgb(78, 160, 236);
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

.container1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: rgb(8, 8, 8);
}
.container3{
  text-align: left;
  margin: 20px;
}





#main_footer{
  background-color: dodgerblue;
  color: white;
  height: 390px;

}
h6 > a{
  color: white;
  margin: 15px;
}

h6  > a:hover{
  background-color: rgb(4, 111, 218);;
  color: white;
}
h3 > a:hover{
  background: rgb(4, 111, 218);;
}
h4> a:hover{
  background: rgb(4, 111, 218);;
  color: aliceblue;
}

footer{
  background-color:  rgb(4, 111, 218);
  text-align: center;
  color: aliceblue;
  height: 65px;
}
footer > a{
  color: orange;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
footer > a:hover{
  color: white;
  font-size: 25px;
}
