footer{
  background-color:  rgb(4, 111, 218);
  text-align: center;
  color: aliceblue;
  height: 65px;
}
footer > a{
  color: orange;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
footer > a:hover{
  color: white;
  font-size: 25px;
}